<p class="title-class" name="title-name" id="title-id"></p>

<div class="review-list">
  <ul>
    <li *ngFor="let review of reviews">
      <b>Title:</b>  {{review.title}}
      <p></p>
      <b>User name:</b>  {{review.username}}
      <p></p>
      <b>Company Name:</b>  {{review.companyname}}
      <p></p>
      <b>Rating:</b> {{review.rating}}
      <p></p>
      <b>Review:</b>  {{review.review}}
      <p></p>
      <button *ngIf=isCurrentUser() type="button" (click)=onRemoveSubmit(review._id)>Remove</button>
      <p></p>
    </li>
  </ul>

</div>

