<div class="topNav">
  <div class="topNavLeft">
    <a [routerLinkActive]="['active']" [routerLink]="['/']">Home</a>
    <a [routerLinkActive]="['active']" [routerLink]="['/company']">Show Companies</a>
    <a *ngIf="authService.isLoggedIn()" [routerLinkActive]="['active']" [routerLink]="['/add_company']">Add Company</a>
    <a *ngIf="authService.isLoggedIn()" [routerLinkActive]="['active']" [routerLink]="['/addreview']">Add Review</a>
  </div>
  <div class="topNavRight">
    <a *ngIf="!authService.isLoggedIn()" [routerLinkActive]="['active']" [routerLink]="['/login']">Login</a>
    <a *ngIf="!authService.isLoggedIn()" [routerLinkActive]="['active']" [routerLink]="['/sign_up']">Register</a>
    <a *ngIf="authService.isLoggedIn()" href="#" (click)="onLogoutClick()">Logout</a>
  </div>
</div>



