.topNav {
  overflow: hidden;
  background-color: #333;
}

.topNav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topNav a:hover {
  background-color: black;
}

.topNav a:focus {
  background-color: seagreen;
  color: white;
}

