<div class="user-input">
  <p class="pTitle">Create a new user</p>
  <form class="user-input-form" autocomplete="on">
    <input class="user-select-input" id="email" type="email" placeholder="Mail"><br>
    <input class="user-select-input" id="fname" type="text" placeholder="First Name"><br>
    <input class="user-select-input" id="lname" type="text" placeholder="Last Name"><br>
    <input class="user-select-input" id="passWord" type="password" placeholder="Password"><br>
    <input class="user-select-input" id="passWordRepeat" type="password" placeholder="Repeat Password"><br>
    <button class="user-input-submit-but">Submit</button>
  </form>
</div>
