<div class="review-form">

  <form>

    <label> Title</label><br>
    <input type="text" id="fname" name="fname">
    <br>
    <label> Review</label><br>
    <textarea>Some text...</textarea><br>

    <div class="row">
      <div class="col-25">
        <label for="companyPick">Country</label>
      </div>

      <div class="col-75">


        


      </div>
    </div>

      <div class="row">
        <div class="col-25">
          <label for="rating">Country</label>
        </div>
        <div class="col-75">
          <select id="rating" name="rating">
            <option value="australia">Australia</option>
            <option value="canada">Canada</option>
            <option value="usa">USA</option>
          </select>
        </div>
      </div>

      <div class="row">
        <input type="submit" value="Submit">
      </div>




  </form>






</div>
