<div class="user-input">
  <p class="pTitle">Add Review</p><br>
  <form class="user-input-form" autocomplete="on"
        #reviewForm = "ngForm"
        (ngSubmit) = "onSubmit()"
        action="/">
    <input class="user-select-input" name="title" id="title" type="title" placeholder="Title" [(ngModel)]="title">  *<br>
    <textarea class="user-select-input-desc" cols="40" rows="5" maxlength="200" name="description" id="description" type="text" placeholder="Review (max: 200)" [(ngModel)]="review"></textarea> <br>
    <input class="user-select-input" name="rat" id="rate" type="number" min="0" max="5" placeholder="Rating from 1-5" [(ngModel)]="rating">  *<br>

    <select class="country-span-select" name="countSelect" autocomplete="country-name" [(ngModel)]="companyname">
      <option name="name" *ngFor="let company of companies" value={{company.name}}>{{company.name}}</option>
    </select>
      <p>* required <br>
        <input class="user-input-submit-but" type="submit" text="Add Review">
      </p>

  </form>

</div>
