<div class="user-input">
  <p class="pTitle">Create a new user</p><br>
  <p id="wrongInput"></p>
  <form class="user-input-form" autocomplete="on"
        #userInfoForm = "ngForm"
        (ngSubmit) = "onSubmit()">
    <input class="user-select-input" name="name"  id="name" type="text" placeholder="Name" [(ngModel)]="name">  *<br>
    <input class="user-select-input" name="user_name" id="username" type="text" placeholder="Username" [(ngModel)]="username">  *<br>
    <input class="user-select-input" name="email" id="mailAddress" type="email" placeholder="E-mail" [(ngModel)]="email">  *<br>
    <input class="user-select-input" name="email" id="pw" type="password" placeholder="Password" [(ngModel)]="password">  *<br>
    <input class="user-select-input" name="pw" id="repeatpw" type="password" placeholder="Repeat password" [(ngModel)]="repeatpassword">  *<br>
    <p>* required <br>
      <input class="user-input-submit-but" type="submit" text="Sign Up">
  </form>
</div>
