.search button {
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  background-color: seagreen;
  margin-left: -20px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}

.search input {
  border: none;
  padding: 5px 50px;
  color: white;
  background-color: gray;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  text-align: left;
}

.search input::placeholder{
  color:white;

}


